%h1 Menu of the day
%p
  %table{:width => "100%"}
    - @items.each do |item|
      %tr
        %td{:width => "120px"}= image_tag item.photo.url(:menu)
        %td
          %strong= item.name
          %br
          = item.description
        %td
          %div{:id => dom_id(item) }
            = @order.get_count_for_item item
          = number_to_currency(item.price)
        %td{:width => "100px"}
          %div{:class => "btn_group"}
            = link_to "-", menu_path(:id => item.id), :class => "btn", :method => :delete, :remote => true
            = link_to "+", menu_index_path(:id => item.id), :class => "btn", :method=> :post, :remote => true

-#%p= link_to "Reset", menu_reset_path(:order_id => @order.id), :class => "btn btn-danger btn-large pull-left"
%p= link_to "Order now!", order_summary_path(:order_id => @order.id), :class => "btn btn-success btn-large pull-right"
