%h1 Menu of the day
%p
  %table
    %th Order
    %th Price
    %th Name
    %th Description
    %th
    - @items.each do |item|
      %tr
        %td= @order.get_count_for_item item
        %td= item.price
        %td= item.name
        %td= item.description
        %td
          %div{:class => "btn_group"}
            = link_to "+", menu_add_path(:item_id => item.id), :class => "btn"
            = link_to "-", menu_remove_path(:item_id => item.id), :class => "btn"

%p= link_to "Order now!", order_summary_path(:order_id => @order.id), :class => "btn btn-primary btn-large"
