<h1>Menu</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td><%= link_to "+", :controller => "order",  :action => "add", :id => item %> 
    	<%= link_to "+", :controller => "order",  :action => "add", :id => item %></td>
  </tr>
<% end %>
</table>