%h1 Menu Items

- if can? :show, Item
  %p
    = link_to 'New Item', new_item_path, :class=>"btn btn-success"

%table{:class=>"table table-striped"}
  %tr
    %th Name
    %th Description
    %th Price
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.description
      %td= item.price
      %td{:width=>"200"}
        = link_to 'Show', item, :class=>"btn btn-info"
        = link_to 'Edit', edit_item_path(item), :class=>"btn btn-warning"
        = link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-danger"

