<h1>Listing items</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr id="<%= dom_id(item) %>">
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td width="200">
      <%= link_to 'Show', item, :class=>"btn btn-info" %>
      <%= link_to 'Edit', edit_item_path(item), :class=>"btn btn-warning" %>
      <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />
<% if can? :show, Item %>
<%= link_to 'New Item', new_item_path %>
<% end %>

